footer {
    float: right;
    border-top:5px solid orangered;
    margin-top:10px;
    font-size:20px;
    padding:10px;
    width:150px;
    text-weight:700;
}

.annotator-wrapper {
    height: auto !important;
    width: auto;
    max-width: 600px;
}
img {
    max-width: 99%;
    max-height: 99%;
    height: auto;
}

a {
    color: orangered;
}

figure[data-type="cover"] img {
    width: 600px;
    height: 900px;
}